![Algoritmos e Estrutura de Dados I](AED1_banner.jpg)

## <font color='blue'>Aula 09a - Algoritmos e Estrutura de Dados 1 </font>
## <font color='blue'>Estruturas de Dados (Listas)</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.12.7

## <font color='blue'>LISTAS...</font>
---
### Trabalhando com Listas

In [4]:
# Criando uma lista
lista_1 = ["arroz, frango, tomate, leite"]

In [5]:
type(lista_1)

list

In [6]:
# Imprimindo a lista
print(lista_1)

['arroz, frango, tomate, leite']

In [7]:
# Criando outra lista
lista_2 = ["arroz", "frango", "tomate", "leite"]

In [8]:
type(lista_2)

list

In [9]:
# Imprimindo a lista
print(lista_2)

['arroz', 'frango', 'tomate', 'leite']

In [10]:
# Criando lista
lista_3 = [23, 100, "Cientista de Dados"]

In [11]:
type(lista_3)

list

In [12]:
# Imprimindo
print(lista_3)

[23, 100, 'Cientista de Dados']

In [13]:
# Atribuindo cada valor da lista a uma variável.
item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [14]:
# Imprimindo as variáveis
print(item1, item2, item3)

23 100 Cientista de Dados

In [15]:
alunos = ['ana', 'pedro', 'maria']
notas = [9, 3.5, 6]

In [21]:
for i in range(len(alunos)):
    print(f"O(a) estudante {alunos[i]} teve nota {notas[i]}!")

O(a) estudante ana teve nota 9!
O(a) estudante pedro teve nota 3.5!
O(a) estudante maria teve nota 6!

#### Atualizando Um Item da Lista

In [30]:
lista_2

['arroz', 'frango', 'tomate', 'leite']

In [32]:
# Imprimindo um item da lista
lista_2[2]

'tomate'

In [35]:
# Atualizando um item da lista
lista_2[2] = "chocolate"

In [37]:
# Imprimindo lista alterada
lista_2

['arroz', 'frango', 'chocolate', 'leite']

#### Deletando Um Item da Lista

In [40]:
lista_2

['arroz', 'frango', 'chocolate', 'leite']

In [42]:
# Não é possível deletar um item que não existe na lista. Vai gerar erro index out of range
del lista_2[4]

IndexError: list assignment index out of range

In [ ]:
# Deletando um item específico da lista
del lista_2[3]

In [ ]:
# Imprimindo o item com a lista alterada
lista_2

#### Listas de Listas (Listas Aninhadas)

Listas de listas são matrizes em Python.

In [ ]:
# Criando uma lista de listas
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [ ]:
# Imprimindo a lista
print(listas)

In [ ]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [ ]:
listas[0][1]

In [50]:
a

NameError: name 'a' is not defined

In [52]:
b = a[0]

NameError: name 'a' is not defined

In [54]:
b

NameError: name 'b' is not defined

In [56]:
list1 = listas[1]

NameError: name 'listas' is not defined

In [58]:
list1

NameError: name 'list1' is not defined

In [60]:
valor_1_0 = list1[0]

NameError: name 'list1' is not defined

In [62]:
valor_1_0

NameError: name 'valor_1_0' is not defined

In [64]:
valor_1_2 = list1[2]

NameError: name 'list1' is not defined

In [66]:
valor_1_2

NameError: name 'valor_1_2' is not defined

In [68]:
list2 = listas[2]

NameError: name 'listas' is not defined

In [70]:
list2

NameError: name 'list2' is not defined

In [72]:
valor_2_0 = list2[0]

NameError: name 'list2' is not defined

In [74]:
valor_2_0

NameError: name 'valor_2_0' is not defined

#### Operações com Listas

In [77]:
# Criando uma lista aninhada (lista de listas - Matrizes)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [79]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [81]:
# Atribuindo à variável a o primeiro valor da primeira lista
a = listas[0][0]

In [83]:
a

1

In [85]:
b = listas[1][2]

In [87]:
b

14

In [89]:
c = listas[0][2] + 10

In [91]:
c

13

In [93]:
d = 10

In [95]:
d

10

In [97]:
e = d * listas[2][0]

In [99]:
e

101.0

#### Concatenando Listas

In [102]:
lista_s1 = [34, 32, 56]

In [104]:
lista_s1

[34, 32, 56]

In [106]:
lista_s2 = [21, 90, 51]

In [108]:
lista_s2

[21, 90, 51]

In [110]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [112]:
lista_total

[34, 32, 56, 21, 90, 51]

### Operador in

In [115]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [117]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [119]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

True

### Funções Built-in

In [122]:
lista_s1.

SyntaxError: invalid syntax (2777343514.py, line 1)

![Listas](listas.jpg)

In [125]:
# Criando uma lista
lista_numeros = [10, 20, 50, -3.4]

In [127]:
# Função len() retorna o comprimento da lista
len(lista_numeros)

4

In [129]:
# Função max() retorna o valor máximo da lista
max(lista_numeros)

50

In [131]:
# Função min() retorna o valor mínimo da lista
min(lista_numeros)

-3.4

In [133]:
# Criando uma lista
lista_formacoes_dsa = ["Analista de Dados", "Cientista de Dados", "Engenheiro de Dados"]

In [135]:
lista_formacoes_dsa

['Analista de Dados', 'Cientista de Dados', 'Engenheiro de Dados']

In [137]:
# Adicionando um item à lista
lista_formacoes_dsa.append("Engenheiro de IA")

In [139]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [141]:
lista_formacoes_dsa.append("Engenheiro de IA")

In [143]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA',
 'Engenheiro de IA']

In [145]:
lista_formacoes_dsa.count("Engenheiro de IA")

2

In [147]:
# Criando uma lista vazia
a = []

In [149]:
print(a)

[]

In [151]:
type(a)

list

In [153]:
a.append(10)

In [155]:
a

[10]

In [157]:
a.append(50)

In [159]:
a

[10, 50]

In [161]:
old_list = [1,2,5,10]

In [163]:
new_list = []

In [165]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [167]:
lista = []
while True:
    n = int(input("Digite um valor (-1 para sair): "))
    if n == -1:
        break
    lista.append(n)

print(lista)

Digite um valor (-1 para sair):  1
Digite um valor (-1 para sair):  1
Digite um valor (-1 para sair):  1
Digite um valor (-1 para sair):  -1

[1, 1, 1]

In [169]:
new_list

[1, 2, 5, 10]

In [171]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [173]:
cidades.index('Salvador')

2

Lembre-se: em Python o índice começa por 0!

In [176]:
cidades.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [178]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [180]:
cidades.insert(2, 110)

In [182]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [184]:
# Remove um item da lista
cidades.remove(110)

In [186]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [188]:
# Reverte a lista
cidades.reverse()

In [190]:
# Imprime a lista
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [192]:
x = [3, 4, 2, 1]

In [194]:
x

[3, 4, 2, 1]

In [196]:
# Ordena a lista
x.sort()

In [198]:
x

[1, 2, 3, 4]

## <font color='blue'>EXERCÍCIOS...</font>
---
### Exercícios sobre Listas

1. Faça um algoritmo que carregue um vetor de 10 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o mesmo vetor, na ordem inversa de entrada.

In [224]:
lista = []
for i in range(10):
    aux = int(input("Digite um valor Inteiro"))
    lista.append(aux)
    
lista.reverse()
print(lista)

Digite um valor Inteiro 1
Digite um valor Inteiro 2
Digite um valor Inteiro 3
Digite um valor Inteiro 4
Digite um valor Inteiro 5
Digite um valor Inteiro 6
Digite um valor Inteiro 7
Digite um valor Inteiro 8
Digite um valor Inteiro 9
Digite um valor Inteiro 10

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

2. Faça um algorimto que carregue um vetor de 5 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o maior valor e sua posição.

In [220]:
type (list)

list

3. Faça algoritmo que carregue dois vetores (listas) de cinco elementos numéricos cada um e mostre um vetor resultante na intercalação desses dois vetores

In [ ]:
# Exemplo de geração de números aleatórios (randômicos) entre 1 e 60
from random import randint
a = randint(1, 60)
print(a)

In [ ]:
# Exemplo de geração de 10 jogadas de dados
from random import randint
# Gerando 10 jogadas
for i in range (0,10):
    lado = randint(1, 6)
    print(lado, end=" ")

4. Faça um Algoritmo que simule 6000 jogadas de um dado de 6 faces. Para simular o resultado utilize a função randint  Ao final, mostre a frequência de sorteio de cada uma das faces

5. Faça um algoritmo que simule a jogada de dois dados de 6 faces. O programa deve usar randint para rolar o primeiro dado e deve usar randint novamente para rolar o segundo dado. A soma das duas faces deve ser calculada. Assim: a soma variará de 2 a 12. O programa deve rolar 30.000 vezes e mostrar a frequência com que a soma (de 2 a 12) aparecem.  Verifique se o valor 7 corresponde a 1/6 das jogadas!

6. Faça um algoritmo que leia uma matriz 2x2 e imprima os seus elementos na ordem:

1,1 =

1,2 =

2,1 =

2,2 =

Obs: linha, coluna

7. Faça um algoritmo que leia os dados de uma matriz de 4 linhas e 4 colunas, composta de elementos reais, e calcule a soma dos elementos da diagonal principal da matriz.

8. Faça um algoritmo que receba uma matriz de 5x5 com números reais. Ao final o algoritmo deve calcular e mostrar a média dos elementos que estão nas linhas pares da matriz.

## Fim da Aula 09a